<!DOCTYPE html>
<html lang="en" class="demo-1 no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="type_choices.css" />
    <script src="js/snap.svg-min.js"></script>
     <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="container">

  <!--    <header class="codrops-header">
        <h1>Shape Hover Effect with SVG<span>Recreating the effect as seen on <a href="http://christmasexperiments.com/">The Christmas Experiments</a></span></h1>
        <nav class="codrops-demos">
          <a href="index.html">Demo 1</a>
          <a class="current-demo" href="index2.html">Demo 2</a>
          <a href="index3.html">Demo 3</a>
        </nav>
      </header> -->
       <header role="banner" class="main-head">
      <h1 class="main-text">
      </h1>
      <nav role="navigation">
        <div class="nav-wrap">
          <ul >
            <li>My Closet</li>
            <li class="divide"> | </li>
            <li>Upload Picture</li>
            <li class="divide"> | </li>
            <li>Log Out</li>

          </ul>
        </div>
      </nav>
    </header>
      <!-- Top Navigation -->

      <section id="grid" class="grid clearfix">
        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/t-shirt.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>T-Shirts</h2>
              <!-- <p>Soko radicchio bunya nuts gram dulse.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>
        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/shirt.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Collar Shirts</h2>
              <!-- <p>Two greens tigernut soybean radish.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>
        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/cardigan.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Cardigans</h2>
              <!-- <p>Beetroot water spinach okra water.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>
        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/jacket.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Jackets</h2>
              <!-- <p>Water spinach arugula pea tatsoi.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>

        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/dress-pants.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Dress Pants</h2>
              <!-- <p>A grape silver beet watercress potato.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>
        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/hat.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Hats</h2>
              <!-- <p>Chickweed okra pea winter purslane.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>
        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/scarf.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Scarves</h2>
              <!-- <p>Salsify taro catsear garlic gram.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>


        <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/backpack.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Backpacks</h2>
              <!-- <p>Salsify taro catsear garlic gram.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>
          <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/boots.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Boots</h2>
              <!-- <p>Pea horseradish azuki bean lettuce.</p> -->
              <button>Find</button>
            </figcaption>
          </figure>
        </a>

    <!--    <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
          <figure>
            <img src="image/jeans.png" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
            <figcaption>
              <h2>Jeans</h2>
              <p>Pea horseradish azuki bean lettuce.</p>
              <button>Find</button>
            </figcaption>
          </figure>
        </a> -->
      </section>

    </div><!-- /container -->
    <script>
      (function() {

        function init() {
          var speed = 250,
            easing = mina.easeinout;

          [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
            var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
              pathConfig = {
                from : path.attr( 'd' ),
                to : el.getAttribute( 'data-path-hover' )
              };

            el.addEventListener( 'mouseenter', function() {
              path.animate( { 'path' : pathConfig.to }, speed, easing );
            } );

            el.addEventListener( 'mouseleave', function() {
              path.animate( { 'path' : pathConfig.from }, speed, easing );
            } );
          } );
        }

        init();

      })();
    </script>
  </body>
</html>

