<h1> THIS IS <%=@username %>s PHOTOBOOTHS HISTORY PAGE </h1>

 <% @results.each_with_index do |resultsarray, i| %>
    <div><%=image_tag(@originals[i]) %></div>
      <% resultsarray.each do |results| %>
          <div> 
          <div class="imgdiv"><%=image_tag(results.url, class: 'imgresult')%> </div> 
          </div>
      <% end%>
 <% end %>
