.menu{
  display:none
  }

.fixed-container{
  position:fixed;top:0;left:0;width:100%
  }

body{
  background-color: black
}

a {
  text-decoration: none;
  color: #fff ;
}

nav{
  padding: 0;
  height: 47px;
  position: relative;
  float:left;
  border-bottom: none;
  left:50%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-wrap{
  float:left;
  left:-50%;
  position: relative;
}

li{
  list-style: none;
  width:auto;
  float:left;
  border-bottom: none;
  line-height: 47px;
  margin-right: 35px;
  height:36px;
  opacity: .4;
  font-family: 'Raleway', sans-serif;
  font-size: 15.5px;
}
li:hover{
  opacity: .6
}

.divide{
  font-size:29px;
}



.homepage-center{
  padding-top: 280px;


}
.title{
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  letter-spacing: 9px;
  color: #fff;
  text-align: center;

}

.subtext{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 9px;
  color: #fff;
  text-align: center;
  opacity: .5;
  border-color: #fff;
  border-width:1px;
  border-style:outset;
  line-height: 1.5;
  width:23%;
  margin: auto

}


.subtext:hover{
  color:#fff;
  opacity: .2
}

.logo{
  margin: auto;
  width:14%;
}




