/* HACKS */
.à² _à² {
  display: none !important;
}

.ws_next, .ws_prev{
  visibility:hidden;  
}

.love{
    background:red;
}

 .howdoes, .itwork {
      text-align: center;
      font-family:'Raleway', sans-serif;
      font-size: 20px;
      color:rgb(214, 255, 0);
      margin-bottom: 30px
    }

    .styletitle {
      width: 60%;
      margin: auto;
      text-align: center;
      margin-top: 250px;
      font-family: 'Plaster', cursive;
      font-size: 100px;
      letter-spacing: 30px;
      color: black;
    }

    .welc {
      width: 50%;
      margin: auto;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 50px;
      padding-top: 20px;

    }

    .namecol, .welc{
      color: black;

    }

.uploadbutton,.subtag{
  width: 40%;
  border: 5px solid yellow;
  background-color: yellow;
  color:rgb(0, 0, 204);
  display: block;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-top: 18px;
  text-align: center;
  letter-spacing: 5px;
  height: 65px;
  line-height: 1em;
  position: relative;
  margin: 20px;
  margin-left: 210px
}


.submitphoto {
  width: 100%;
  background-color: transparent;
  border: none;
  color:rgb(0, 0, 204);
  letter-spacing: 5px;
}
   
.upload{
  top: 0;
  right:0;
  margin:0;
  padding:0;
  opacity:0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%
}

/* RESETS and UTILITY */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
.post-name a{
    color: white;
    text-decoration: none;
    outline: 0;
}
.link:hover {
        color: white;
}
button {
    outline: 0;
}
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
[class^="icon-"], [class*=" icon-"] {
    background: transparent url(../img/spritesheet.png) no-repeat;
    display: inline-block;
    vertical-align: text-top;
    line-height: 14px;
    margin-top: 1px;
}
.icon-close {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-position: -207px -13px;
}
.icon-kickstarter {
    width: 20px;
    height: 22px;
    background-position: -465px -4px;
}
*:hover > .icon-close {
    background-position: -207px -39px;
}
::selection {
  background: #ff6400;
  color: #fff;
}
::-moz-selection {
  background: #ff6400;
  color: #fff;
}

.spinner{
  display: inline-block;
  vertical-align: top;
  opacity: .8;
  border-radius: 1em;
  -moz-animation: loading .5s infinite linear;
  -webkit-animation: loading .5s infinite linear;
  animation: loading .5s infinite linear;
}
.spinner-med{
  border: 10px solid #000;
  border-top: 10px solid rgba(0,0,0,0);
  border-left: 10px solid rgba(0,0,0,0);
  width: 1em;
  height: 1em; 
}
@keyframes loading {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-moz-keyframes loading {
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(360deg);}
}
@-webkit-keyframes loading {
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
.nicescroll-rails{
  z-index: 9 !important;
}

/* MAIN */
.next, .prev, .kickstarter, .close , #bag-next, #bag-prev{
    border: 0;
    background: transparent url('../img/spritesheet.png') no-repeat;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Avenir Medium';
}
.mijlo-splash, .mijlo-splash-scroll {
    background-repeat: no-repeat;
  background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mijlo-splash {
    position: fixed;
    z-index: -1;
}
.mijlo-splash-scroll {
  display: none;
    position: absolute;
    z-index: -2;
}
.mijlo-splash img, .mijlo-splash-scroll img{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 90%;
  max-width: 481px;
  height: auto;
  margin: auto;
}
.mijlo-push {
    position: relative;
    width: 100%;
    height: 100%;
}
.mijlo-info > .info-dark {
    background-color: rgba(53, 69, 255, 0.87);
}
    .mijlo-info > .info-dark > .info-inner {
        font-family: 'Avenir Book';
        color: #fff;
        margin: 0 auto;
        padding: 60px 0px 50px;
        overflow: hidden;
        width: 55%;
        -webkit-font-smoothing: antialiased;
    }
.mijlo-wrap {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.info-inner p {
    margin: 0 0 40px 0;
    line-height: 1.6em;
    font-size: 20px;
}
    .info-inner p:last-child {
        margin-bottom: 0;
    }
#header-wrap {
    height: 95px;
}
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
    header.sticky > .post-details {
        position: fixed;
        top: 95px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    header.sticky > .mijlo-bag {
        position: fixed;
        top: 95px;
        left: 0;
        bottom: 0;
        right: 0;
    }
header > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 95px;
    padding-right: 20px;
    background-color: black;
    overflow: hidden;
}
    header > ul > li {
        float: left;
        font-family: 'plaster';
        font-size: 40px;
        margin-left: 10px;
        color:white;
        display: inline-block;
        height: 95px;
        line-height: 95px;
        text-align: center;
        overflow: hidden;
    }
        header > ul > li a {
            color: #c4b4a6;
        }
            header > ul > li a:hover {
                color: #3b3227;
            }
        header > ul > li.logo a {
            display: block;
            background: #ff6400 url(../img/spritesheet.png) no-repeat;
            font-size: 40px;
            color: #fff;
            width: 95px;
            height: 95px;
        }
        header > ul > li.title a {
            font-family: 'Avenir Black';
            font-size: 25px;
            letter-spacing: 3px;
            color: #ff6400;
            text-transform: uppercase;
            margin: 0 25px;
        }
            header > ul > li.title a:hover {
                color: #ff8400;
            }
header li.mobile-nav {
    display: none;
    float: right;
}
    header li.mobile-nav .show-mobile-nav {
        background: transparent url(../img/spritesheet.png) no-repeat -284px -55px;
        border: none;
        width: 30px;
        height: 30px;
        margin-top: 9px;
    }
        header li.mobile-nav .show-mobile-nav i {
            line-height: normal;
        }
    header li.mobile-nav ul.mobile-nav-links {
        color: #fff;
        font-family: 'Avenir Medium';
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 45px;
        background-color: rgba(47, 40, 32, .9);
        z-index: 3;
    }
        header li.mobile-nav ul.mobile-nav-links li {
            line-height: 1em;
        }
            header li.mobile-nav ul.mobile-nav-links li a {
                display: block;
                color: #fff;
                font-size: 14px;
                padding: 15px;
            }
                header li.mobile-nav ul.mobile-nav-links li a:hover {
                    color: #fff;
                    background-color: #ff6400;
                }
header > ul > li.nav {
    font-family: 'Avenir Medium';
    font-size: 15px;
    float: right;
    margin: 0 20px;
}
header > ul > li.social {
    float: right;
    margin: 6px 10px 0;
}
    header > ul > li.social a {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url(../img/spritesheet.png);
    }
li.social.twitter a {
    background-position: -325px -2px;
}
li.social.facebook a {
    background-position: -366px -2px;
}
li.social.stumbleupon a {
    background-position: -407px -2px;
}
li.social.twitter a:hover {
    background-position: -325px -29px;
}
li.social.facebook a:hover {
    background-position: -366px -29px;
}
li.social.stumbleupon a:hover {
    background-position: -407px -29px;
}

/* TOP HEADER */
.head-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; right: 0;
  z-index: 2;
}
.head-top > ul {
    background-color: transparent;
}


.mijlo-posts {
    width: 100%;
    overflow: hidden;
}
    .mijlo-posts .post-left, .mijlo-posts .post-right {
        width: 50%;
        float: left;
        overflow: hidden;
        position: relative;
    background-color: white;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
     -o-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    }

.post {
  float: left;
    position: relative;
    cursor: pointer;
    width: 50%;
  height: 200px;
    overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%
}
    .post .post-img {
        width: 100%;
        height: auto;
        display: block;
    }
    .post .post-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 19% 10%;
        opacity: 0;
    }
    .post:hover .post-inner, .post:focus .post-inner {
    opacity: 1;
    }
    .post .post-name {
        color: #ff6400;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 27px;
      font-family: 'Raleway', sans-serif;
        line-height: 27px;
        padding-bottom: 5px;
        letter-spacing: 1px;
    }
    .post .post-title {
        color: white;
        font-size: 15px;
      font-family: 'Raleway', sans-serif;
    
    }
.post-details {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 95px;
    z-index: -1;
    overflow: hidden;
}
    .post-details.active {
        z-index: 1;
    }
    .post-details .post-left, .post-details .post-right {
        height: 100%;
        float: left;
        position: relative;
    }
    .post-details .post-left {
        background-color: black;
        width: 30%;
        overflow: hidden;
    }
    .post-details .post-right {
        background: url('gra3.jpg');
        width: 70%;
    }
  .post-details .nav{
    z-index: 1;
    position: relative;
  }
    .post-details .nav button {
        border: 0;
        margin: 0;
        display: block;
    }
    .post-details .nav .prev-next {
        width: 95px;
    }
    .post-details .nav .prev, .post-details .nav .next {
        color: #afa59b;
        width: 50%;
        height: 45px;
        float: left;
    }
    .post-details .nav .prev {
        background-color: white;
        background-position: -102px 3px;
    }
        .post-details .nav .prev:hover {
            background-position: -104px 3px;
        }
    .post-details .nav .next {
        background-color: #FF30FF;
        background-position: -148px 3px;
    }
        .post-details .nav .next:hover {
            background-position: -146px 3px;
        }
    .post-details .nav .close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 11px;
        background-image: none;
    }
        .post-details .nav .close .mobile-hide {
            position: relative;
            top: -2px;
            font-family: 'railway' sans-serif
        }
        .post-details .nav .close .icon-close {
            margin-left: 5px;
            vertical-align: text-bottom;
        }
    .post-details .details {
        position: absolute;
        top: 30%;
        height: 100%;
        width: 100%;
        padding: 0 10%;
    }
        .post-details .details .post-name {
            font-family: 'Railway' sans-serif;
            color: #fff;
            text-transform: uppercase;
            font-size: 3em;
            line-height: 1em;
        }
        .post-details .details .post-title {
            font-family: 'Railway' sans-serif;
            color: #fff;
            margin: 15px 0 10px;
            padding-bottom: 500px
        }
            .post-details .details .post-title .company {
                color: #FF37F7;
            }
    .post-details .post-links a {
        display: inline-block;
        background: url('../img/spritesheet.png');
        width: 28px;
        height: 28px;
    }
        .post-details .post-links a.post-link {
            background-position: -285px -2px;
        }
            .post-details .post-links a.post-link:hover {
                background-position: -285px -28px;
            }
    .post-details .post-links a.post-link-perm {
            background-position: -246px -2px;
        }
            .post-details .post-links a.post-link-perm:hover {
                background-position: -246px -28px;
            }
  .post-details .post-slide{
    overflow: hidden;
  }
  .post-details .post-img{
    position: relative;
    width: 200%;
  }
/*  .post-details .post-img .next-img, .post-details .prev-img{
    
  }*/
  .post-details .post-img img {
        display: inline-block;
    vertical-align: top;
    max-height: 100%;
    width: auto;
    }
    .post-details .img-loading {
       position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/ajax-loader.gif) center center no-repeat;
    z-index: 1;
    }
.mijlo-bag {
    background-color: #eeedeb;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #371d06;
    z-index: -1;
    display: none;
}
    .mijlo-bag.active {
        z-index: 2;
        display: block;
    }
    .mijlo-bag .bag-left, .mijlo-bag .bag-right {
        float: left;
        padding: 4% 5% 0;
        position: relative;
        height: 100%;
    }
    .mijlo-bag .bag-left {
        width: 55%;
    }
        .mijlo-bag .bag-left .content {
            position: relative;
            left: -100%;
      overflow: auto;
      height: 100%;
        }
    .mijlo-bag .bag-right {
        width: 45%;
        padding-left: 0;
    }
    .mijlo-bag .bag-title {
        font-family: 'Avenir Black';
        font-size: 57px;
        letter-spacing: 4px;
    }
    .mijlo-bag p {
        font-family: serif;
        font-size: 1.2em;
    }
  
  .mijlo-bag .bag-inner{
    position: relative;
  }
  
  .mijlo-bag  #bag-slider{ 
    width: 100%;
    padding: 30px;
    height: 90%;
    max-width: 600px;
    margin: 0 auto;
  }
  .mijlo-bag  #bag-slider img { 
    width: 100%; height: auto 
  }
  
    .mijlo-bag #bag-next, .mijlo-bag #bag-prev {
        width: 35px;
        height: 60px;
        position: absolute;
        top: 50%;
    z-index: 200;
    margin-top: -35px;
    }
    .mijlo-bag #bag-prev {
        background-position: -2px -98px;
        left: -8px;
    }
        .mijlo-bag #bag-prev:hover {
            background-position: -4px -98px;
        }
    .mijlo-bag #bag-next {
        background-position: -60px -98px;
        right: -4px;
    }
        .mijlo-bag  #bag-next:hover {
            background-position: -58px -98px;
        }
    .mijlo-bag .close {
    color: #371d06;
    font-size: 11px;
    background-image: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    }
        .mijlo-bag .close .text-close {
            position: relative;
            top: -2px;
        }
        .mijlo-bag .close .icon-close {
            vertical-align: text-bottom;
            margin-left: 5px;
      background-position: -207px -67px;
        }
  
    .mijlo-bag .kickstarter {
    display: inline-block;
        color: #fff;
        background-color: #ff6400;
        background-image: none;
        padding: 18px 31px;
        font-size: 14px;
        margin-top: 15px;
    }
        .mijlo-bag .kickstarter:hover {
            background-color: #ff8400;
        }
.kickstarter .icon-kickstarter {
    vertical-align: middle;
    margin-right: 18px;
}

.navigation{
  list-style:none;
  padding: 10px;
  margin: 0;
}
.navigation li{
  background-image: none;
  font-family: 'Avenir Medium';
  display: inline-block;
  padding: 3px 5px;
}
.navigation li.active{
  font-weight: bold;
}
.infscr-loading{
  display: none;
}
#loading{
  text-align: center;
  font-family: 'Avenir Black';
  color: #ff6400;
  font-weight: bold;
  font-size: 2em;
  padding: 1em;
  letter-spacing: -1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
}
#loading .spinner{
  border-bottom-color: #ff6400;
  border-right-color: #ff6400;
}

/* Guest Page */
.guest-page{
  background-color: #ff6400;
}
.guest-wrap{
  height: 100%;
}
.guest-wrap .post-details{
  display: block;
  z-index: 1;
  overflow: visible;
}
/* .guest-wrap{
  
 }*/

/* RESPONSIVE */ 
/* Large desktop */
@media (min-width: 1200px) {
    .mijlo-info > .info-dark > .info-inner {
        max-width: 700px;
    }
    .post .post-name {
        font-size: 40px;
        line-height: 40px;
    }
}
@media (min-width: 978px) and (max-width: 1190px) {
    .mijlo-bag .bag-title {
        font-size: 50px;
    }
    .post .post-name {
        font-size: 27px;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .post-details .post-left .post-name {
        font-size: 2.5em;
        line-height: 1em;
    }
    .post .post-name {
        font-size: 27px;
    }
    .mijlo-bag .bag-title {
        font-size: 40px;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #header-wrap {
        height: 50px;
    }
    header.sticky > .post-details {
        top: 50px;
    }
    header.sticky > .mijlo-bag {
        top: 50px;
    }
    header li.mobile-nav {
        display: inline-block;
    }
    header > ul {
        height: 50px;
        overflow: visible;
        padding-right: 8px;
    }


        header > ul > li {
            height: 50px;
            line-height: 50px;
        }
            header > ul > li.social {
                display: none;
            }
            header > ul > li.nav {
                display: none;
            }
            header > ul > li.logo a {
                background-position: 1px 3px;
                background-size: 245px 81px;
                width: 50px;
                height: 50px;
            }
            header > ul > li.title {
                font-size: 18px;
                margin: 0 0 0 20px;
            }
                header > ul > li.title a {
                    margin: 0;
                }
            header > ul > li.mobile-nav {
                overflow: visible;
            }
    .mijlo-info > .info-dark > .info-inner {
        width: 80%;
    }
    .post {
        width: 100%;
    }
        .post .post-name {
            font-size: 27px;
        }
    .post-details {
        top: 50px;
    }
  .post-details .details{
        top: 10%;
    } 
    
  .post-details .post-left, .post-details .post-right {
        width: 100%;
        position: absolute;
    overflow: hidden;
    }
    .post-details .post-left {
        height: 30%;
    bottom: 0;
    }
          .post-details .post-left .post-name {
                font-size: 1.5em;
                line-height: 1em;
            }
    .post-details .post-right {
        height: 70%;
    top: 0;
    }
        .post-details .nav .close {
            right: 10px;
            top: 10px;
        }
        .post-details .nav .prev-next {
            width: 50px;
        }
        .post-details .nav .prev, .post-details .nav .next {
            width: 100%;
            height: 50px;
            float: left;
      display: none;
        }
    .mijlo-bag .bag-title {
        font-size: 30px;
    }
    .mijlo-bag p {
        font-size: 1.1em;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .mobile-hide {
        display: none;
    }
    .post-details .details {
        padding: 0 15%;
        text-align: center;
    }
    .post-details .post-left .post-name {
        font-size: 1em;
        line-height: 1em;
    }
    .mijlo-bag .bag-title {
        font-size: 20px;
    }
    .mijlo-bag p {
        font-size: 1em;
    }
    .mijlo-bag .kickstarter {
        padding: 16px 12px;
    }
    .kickstarter .icon-kickstarter {
        margin: 0;
    }
    .post .post-inner {
        padding: 15% 10%;
    }
    .post .post-name {
        font-size: 20px;
        line-height: 20px;
    }
}