.signup-div{
  background: url('neon-background.jpg') 1410px 700px;
  height: 650px;
}

.reg, .signup-btn, .su-text{
  font-family: 'Raleway', sans-serif;
}
.reg{
  font-weight: 300;
  color: #F59999;
  letter-spacing: 1px;
  padding-left: 300px
}
.signup-btn{
  background-color: #F59999;
  border: 1px solid #F59999;
  color: white;
}

.signup-btn:hover{
  background-color: transparent;
  border: 1px solid #F59999;
  color:black;
}

.input-boxes{
  padding-top: 30px;
  padding-left: 350px
}
