
<h1> Users#new</h1>


<div class="logon">
  <h2 class="reg">Sign Up</h2>
  <input class ="regform"name="username" placeholder="Username" type="text"></input>
  <input class ="regform" name="password" placeholder="Password" type="password"></input>
  <input id="regform"name="gender" placeholder="Gender" type="text"></input>
  <input id="regform"name="age" placeholder="Age" type="text"></input>
  <textarea name="regform" placeholder="About me"> </textarea>
  <div class="agree">
    <input id="agree" name="agree" type="checkbox"></input>

  </div>
  <input class="animated" type="submit" value="Register"></input>
  <a class="forgot" href="#">Already have an account?</a>
</div>

