 <header role="banner" class="main-head">
      <h1 class="main-text">
      </h1>
      <nav role="navigation">
        <div class="nav-wrap">
          <ul >
            <li>My Closet</li>
            <li class="divide"> | </li>
            <li>About</li>
            <li class="divide"> | </li>
            <a href=""><li class ="sign_up">Sign Up</li></a>
            <li class="divide"> | </li>
            <li>Sign In</li>

          </ul>
        </div>
      </nav>
    </header>
